@using WebApplication.Models;
@model ClasseViewModel


<div id="content">
    <div class="form-group">
        @Html.LabelFor(m => m.NomEtablissement, new { @class = "col-sm-4" })
        @Html.TextBoxFor(m => m.NomEtablissement, new { @class = "col-sm-8 form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Niveau, new { @class = "col-sm-4" })
        @Html.TextBoxFor(m => m.Niveau, new { @class = "col-sm-8 form-control", @readonly = "readonly" })
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
        </tr>
        @foreach (EleveViewModel vm in Model.Eleves)
        {
            <tr>
                <td>@vm.Nom</td>
                <td>@vm.Prenom</td>
                <td>@vm.DateNaissance.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("DetailEleve", "Eleve", new { eleveId = vm.EleveId })">Détail</a>
                </td>
            </tr>
        }
    </table>
</div>
