@using WebApplication.Models;
@model ClasseViewModel


<div id="content">
    <h2>@Model.NomEtablissement - @Model.Niveau</h2>

    <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
        </tr>
        @foreach (EleveViewModel vm in Model.Eleves)
        {
        <tr>
            <td>@vm.Nom</td>
            <td>@vm.Prenom</td>
            <td>@vm.DateNaissance.ToString("dd/MM/yyyy")</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("DetailEleve", "Eleve", new { eleveId = vm.EleveId })">Détail</a>
            </td>
        </tr>
        }
    </table>
</div>
