@using WebApplication.Models;
@model List<AbsenceViewModel>
@Scripts.Render("~/bundles/jquery")

<table class="table table-bordered">
    <tr>
        <th>Date de l'absence</th>
        <th>Motif</th>
        <th>Nom de l'élève</th>
    </tr>
    @foreach (AbsenceViewModel vm in Model)
    {
        <tr>
            <td>@vm.DateAbsence</td>
            <td>@vm.Motif</td>
            <td>@vm.IdentiteEleve</td>
            <td><button onclick="getEleve(@vm.EleveId)" class="btn btn-primary">Detail</button></td>
        </tr>
    }
</table>
