@using WebApplication.Models;
@model List<EleveViewModel>
@Scripts.Render("~/bundles/jquery")

<h3>Les 5 meilleurs élèves</h3>

<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Moyenne</th>
    </tr>
    @foreach (EleveViewModel vm in Model)
    {
        <tr>
            <td>@vm.Nom</td>
            <td>@vm.Prenom</td>
            <td>@vm.Moyenne</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("DetailEleve", "Eleve", new { eleveId = vm.EleveId })">Détail</a>
            </td>
        </tr>
    }
</table>
