@using WebApplication.Models;
@model EleveViewModel


<div class="form-group">
    @Html.Label("Nom : ", new { @class = "col-sm-4"})
    @Html.TextBoxFor(m => m.Nom, new { @class = "col-sm-8 form-control" })
</div>
<div class="form-group">
    @Html.Label("Prénom : ", new { @class = "col-sm-4" })
    @Html.TextBoxFor(m => m.Prenom, new { @class = "col-sm-8 form-control" })
</div>
<div class="form-group">
    @Html.Label("Moyenne : ", new { @class = "col-sm-4" })
    @Html.TextBoxFor(m => m.Moyenne, new { @class = "col-sm-8 form-control" })
</div>
<table class="table table-bordered">
    <tr>
        <th>Date de l'absence</th>
        <th>Motif</th>
        <th><button onclick="ajouterAbsence(@Model.EleveId)" class="btn btn-primary">Ajouter absence</button></th>
    </tr>
    @foreach (AbsenceViewModel vm in Model.Absences)
    {
        <tr>
            <td>@vm.DateAbsence.ToString("dd/MM/yyyy")</td>
            <td>@vm.Motif</td>
        </tr>
    }
</table>

<table class="table table-bordered">
    <tr>
        <th>Date de la note</th>
        <th>Matière</th>
        <th>Note</th>
        <th>Appréciation</th>
        <th><button class="btn btn-primary">Ajouter note</button></th>
    </tr>
    @foreach (NoteViewModel vm in Model.Notes)
    {
        <tr>
            <td>@vm.DateNote.ToString("dd/MM/yyyy")</td>
            <td>@vm.Matiere</td>
            <td>@vm.ValeurNote</td>
            <td>@vm.Appreciation</td>
        </tr>
    }
</table>

@*@Html.ListBoxFor(m => m.Absences,
                new SelectList(Model.Absences, "AbsenceId", "Motif"))

@Html.ListBoxFor(m => m.Notes, new SelectList(Model.Notes, "NoteId", ""))*@

<script>

    function ajouterAbsence(eleveId) {
        var serviceURL = '/Absence/AjoutAbsence';
        $.ajax({
            url: serviceURL,
            data: {
                eleveId: eleveId,
            },
            success: function (data) {
                console.log(data);
                $("#content").html(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>