@using WebApplication.Models;
@model List<EleveViewModel>
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")

<div id="content">
    <div class="row form-group">
        @Html.TextBox("searchEleve", "", new { @class = "form-control", placeholder = "Rechercher un élève" })
        <button onclick='rechercher($("#searchEleve").val())' class="btn btn-primary">Rechercher</button>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        @foreach (EleveViewModel vm in Model)
        {
            <tr>
                <td>@vm.Nom</td>
                <td>@vm.Prenom</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("DetailEleve", "Eleve", new { eleveId = vm.EleveId })">Détail</a>
                </td>
            </tr>
        }
    </table>
</div>

<script>

    function rechercher(criterias) {
        url = '@Url.Action("Index", "Eleve", new { criterias = "__criterias__" })';
        url = url.replace("__criterias__", criterias);
        console.log(url);
        location.href = url;
    }

    @*function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $(document).ready(function () {
        $("#searchEleve").on("keyup", delay(function () {
            url = '@Url.Action("Index", "Eleve", new { criterias = "__criterias__" })';
            url = url.replace("__criterias__", $("#searchEleve").val());
            console.log(url);
            location.href = url;
        }, 500))
    });*@
</script>